<h1>Listing Users</h1>

<table>
 <%= for user <- @users do %>
   <tr>
     <td><%= first_name(user) %> (<%= user.id %>)</td>
     <td><%= link "View", to: Routes.user_path(@conn, :show, user.id) %> </td>
 <% end %>
</table>
